Zadanie 3. 
Load DSP_5.csv. Check if there are missing data - if neccesary fill them with an average. Show the mean, variance, range for “cyl” variable. Show a correlation table for the variables. Is there anything interesting?

Zadanie 4.
1. Load the "DSP_8.csv" data. This is the Heart Attack Analysis & Prediction Dataset (aut. Rashik Rahman) available from Kaggle. Make sure that decimal numbers are properly formatted.
2. Write a code that will return information: a. The number of columns (with their names), b. The number of rows (observations), c. Any missing data, d. The mean age and standard deviation in two separate gorups (men&women), e. the percentage of men in the dataset, f. the number of women aged 45 to 50 years, g. correlation between the variables, but only for people with their ECG at rest is normal (when in the ExerciseAngina column, "Normal" appears).

In [35]:
import os
import pandas as pd
from platform import python_version
python_version()
from google.colab import drive
drive.mount('/content/drive')
os.chdir('/content/drive/My Drive/')
df = pd.read_csv("DSP_5.csv", sep = ';')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).



```
# This is formatted as code
```

Check if there are missing data

In [36]:
df.isnull().any() #there's some missing data?

model    False
mpg      False
cyl      False
disp     False
hp        True
drat     False
wt        True
qsec     False
vs       False
am       False
gear     False
carb     False
dtype: bool

In [ ]:
display(df) #just displaying the df

In [6]:
df_2 = df.fillna(df.mean()) #filled NaN with an average value

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [ ]:
display(df_2)

Showin mean, variance and range of mpg, cyl, disp, hp, drat, wt, qsec, vs, am,gear, carb

In [ ]:
print("Mean, variance, range for cyl variable are:")
display(df_2["cyl"].mean())
display(df_2["cyl"].var())
display(df_2["cyl"].max() - df_2["cyl"].min())
print("\n")

print("Find the mean, variance and range for other variables below.")
print("Mean, variance, range for mpg variable are:")
display(df_2["mpg"].mean())
display(df_2["mpg"].var())
display(df_2["mpg"].max() - df_2["mpg"].min())
print("\n")
print("Mean, variance, range for disp variable are:")
display(df_2["disp"].mean())
display(df_2["disp"].var())
display(df_2["disp"].max() - df_2["disp"].min())
print("\n")
print("Mean, variance, range for hp variable are:")
display(df_2["hp"].mean())
display(df_2["hp"].var())
display(df_2["hp"].max() - df_2["hp"].min())
print("\n")
print("Mean, variance, range for drat variable are:")
display(df_2["drat"].mean())
display(df_2["drat"].var())
display(df_2["drat"].max() - df_2["drat"].min())
print("\n")
print("Mean, variance, range for wt variable are:")
display(df_2["wt"].mean())
display(df_2["wt"].var())
display(df_2["wt"].max() - df_2["wt"].min())
print("\n")
print("Mean, variance, range for qsec variable are:")
display(df_2["qsec"].mean())
display(df_2["qsec"].var())
display(df_2["qsec"].max() - df_2["qsec"].min())
print("\n")
print("Mean, variance, range for vs variable are:")
display(df_2["vs"].mean())
display(df_2["vs"].var())
display(df_2["vs"].max() - df_2["vs"].min())
print("\n")
print("Mean, variance, range for am variable are:")
display(df_2["am"].mean())
display(df_2["am"].var())
display(df_2["am"].max() - df_2["am"].min())
print("\n")
print("Mean, variance, range for gear variable are:")
display(df_2["gear"].mean())
display(df_2["gear"].var())
display(df_2["gear"].max() - df_2["gear"].min())
print("\n")
print("Mean, variance, range for carb variable are:")
display(df_2["carb"].mean())
display(df_2["carb"].var())
display(df_2["carb"].max() - df_2["carb"].min())

In [9]:
import seaborn as sb
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import pearsonr

In [10]:
df_2.corr() #correlation table

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
mpg,1.000000,-0.852162,-0.847551,-0.748447,0.681172,-0.864418,0.418684,0.664039,0.599832,0.480285,-0.550925
cyl,-0.852162,1.000000,0.902033,0.812289,-0.699938,0.776755,-0.591242,-0.810812,-0.522607,-0.492687,0.526988
disp,-0.847551,0.902033,1.000000,0.771889,-0.710214,0.885379,-0.433698,-0.710416,-0.591227,-0.555569,0.394977
hp,-0.748447,0.812289,0.771889,1.000000,-0.477304,0.650904,-0.666273,-0.706256,-0.211707,-0.084144,0.740507
drat,0.681172,-0.699938,-0.710214,-0.477304,1.000000,-0.711907,0.091205,0.440278,0.712711,0.699610,-0.090790
wt,-0.864418,0.776755,0.885379,0.650904,-0.711907,1.000000,-0.176005,-0.557854,-0.680956,-0.580341,0.426549
qsec,0.418684,-0.591242,-0.433698,-0.666273,0.091205,-0.176005,1.000000,0.744535,-0.229861,-0.212682,-0.656249
vs,0.664039,-0.810812,-0.710416,-0.706256,0.440278,-0.557854,0.744535,1.000000,0.168345,0.206023,-0.569607
am,0.599832,-0.522607,-0.591227,-0.211707,0.712711,-0.680956,-0.229861,0.168345,1.000000,0.794059,0.057534
gear,0.480285,-0.492687,-0.555569,-0.084144,0.699610,-0.580341,-0.212682,0.206023,0.794059,1.000000,0.274073
carb,-0.550925,0.526988,0.394977,0.740507,-0.090790,0.426549,-0.656249,-0.569607,0.057534,0.274073,1.000000

correlation table looks like an identity matrix

Zadanie 4

Task 1

In [202]:
from google.colab import drive
drive.mount('/content/drive')
os.chdir('/content/drive/My Drive/')
df = pd.read_csv("DSP_8.csv", sep = ',') #csv separated by a comma this time round

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [203]:
display(df)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

Task 2

a. The number of columns (with their names)

In [204]:
print('Number of columns: ', df.shape[1])
print('\n')
print('Names of columns are below')
for col in df.columns:
  print(col)

Number of columns:  12


Names of columns are below
Age
Sex
ChestPainType
RestingBP
Cholesterol
FastingBS
RestingECG
MaxHR
ExerciseAngina
Oldpeak
ST_Slope
HeartDisease

b. The number of rows (observations)

In [205]:
print('Number of rows is: ',df.shape[0])

Number of rows is:  918

c. Any missing data

In [206]:
df.isnull().any()

Age               False
Sex               False
ChestPainType     False
RestingBP         False
Cholesterol       False
FastingBS         False
RestingECG        False
MaxHR             False
ExerciseAngina    False
Oldpeak           False
ST_Slope          False
HeartDisease      False
dtype: bool

d. The mean age and standard deviation in two separate gorups (men&women)

In [207]:
print('Mean age of men & women')
#a = df.groupby('Sex').Age.mean()
#display(a)

#using the agg() method which helps to specify multiple aggregation functions at once
df.groupby('Sex').Age.agg(
    Mean_Age=('mean'),
    Std=('std'),
)

Mean age of men & women

      Mean_Age       Std
Sex
F    52.492228  9.517593
M    53.782069  9.397864

e. the percentage of men in the dataset

In [208]:
#df['Sex'].value_counts()
percentage_of_men = df['Sex'].value_counts()/df['Sex'].count()*100 #use of value_counts() function
#print(percentage_of_men) #well this prints both percentages for men and women

In [209]:
percentage_of_men.loc[('M')] #printing percentage of men only

78.9760348583878

f. the number of women aged 45 to 50 years

In [210]:
age_group = pd.cut(df['Age'], bins=[45,50])
a = df.groupby(age_group)['Sex'].value_counts()
pd.crosstab(age_group, df['Sex'])
#df[df['Age'].isin([45,50])].value_counts()

Sex        F   M
Age
(45, 50]  30  90

g. correlation between the variables, but only for people with their ECG at rest is normal (when in the ExerciseAngina column, "Normal" appears).

In [211]:
df2=df.query('RestingECG == "Normal"')
#df2
df2.corr()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
Age,1.000000,0.230469,-0.129005,0.183535,-0.380244,0.246627,0.241428
RestingBP,0.230469,1.000000,0.142830,-0.010983,-0.124514,0.120313,0.051725
Cholesterol,-0.129005,0.142830,1.000000,-0.351044,0.224505,0.028653,-0.276377
FastingBS,0.183535,-0.010983,-0.351044,1.000000,-0.111782,0.078385,0.277575
MaxHR,-0.380244,-0.124514,0.224505,-0.111782,1.000000,-0.195590,-0.427006
Oldpeak,0.246627,0.120313,0.028653,0.078385,-0.195590,1.000000,0.433986
HeartDisease,0.241428,0.051725,-0.276377,0.277575,-0.427006,0.433986,1.000000